/*!
 * CSS-file to make styled radio-buttons work.
 * Needed in choices.html
 * Created by Peter 6.6.18
 */
body {
  background-color: #262626;
  color: ghostwhite;
  text-align: center;
}

 .cc-selector input{
     margin:0;padding:0;
     -webkit-appearance:none;
        -moz-appearance:none;
             appearance:none;
 }

 .myRadioButton{
   font-size: 30px;
   background-color:deeppink;
   padding: 20px;
 }

 .cc-selector input:active +.myRadioButton-cc{
   background-color:blueviolet;
   opacity: .9;}

 .cc-selector input:checked +.myRadioButton-cc{
   background-color:green;
     -webkit-filter: none;
        -moz-filter: none;
             filter: none;
 }

 .myRadioButton-cc {
     cursor:pointer;
     background-size:contain;
     background-repeat:no-repeat;
     display:inline-block;
     color: ghostwhite;
     -webkit-transition: all 100ms ease-in;
        -moz-transition: all 100ms ease-in;
             transition: all 100ms ease-in;
     -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
        -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
             filter: brightness(1.8) grayscale(1) opacity(.7);
 }

 .myRadioButton-cc:hover{
     -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
        -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
             filter: brightness(1.2) grayscale(.5) opacity(.9);
 }
