<!DOCTYPE html>
<!-- Done by Peter (based on Saijas and Inkas work :V :) ) 5/18 -->
  <head>
      <title>Custom Radio Buttons</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/CustomRadioButtons.css') }}">

      <script src="{{ url_for('static',filename='script/CustomRadioButtons.js') }}"></script>
      <link rel="stylesheet" type="text/css" href="css/CustomRadioButtons.css">
  </head>

  <body onload="setInitValueOnPageLoad()">
    <div class="container">
      <h2>Custom Radio Buttons</h2>

      <form action="/addNewRadioFieldChoice" method="post">
        <input id='newChoice' name='newChoice'>
        <button type="submit" class="button button2">Add a new choice</button>
        <!---<a href="/addNewRadioFieldChoice">ADD</a>--->
      </form>

      <br><br>

      <form action="/" method=post>

          <!--- Looping the radio field values and makin
                the radio fields: --->
          {% for choice in form.value.choices %}
            <div class="cc-selector">
              <!--- ids for different radio button choices must not be identical.
                    This is solved by adding the radio button choices index to the id --->
              <input id="myRadioButton{{ choice[0] }}" type="radio" name="usersChoice" value="{{ choice[1] }}" onclick="setAnswerValue({{ choice[0] }})" />
    	        <label class="myRadioButton-cc myRadioButton"for="myRadioButton{{ choice[0] }}">{{ choice[1] }}</label>
              <br><br>
            </div>
          {% endfor %}

          <!--- At setAnswerValue-function, the program sets value to this hidden field.
                The value of this hidden field is sent with post --->
          <input type="hidden" id='chosenValue' name='chosenValue' value="No choice">

          <!--- Post the form: --->
          <button type="submit" class="button button1">Submit choice</button>
      </form>

    </div>
  </body>

</html>
